.fa-bag-shopping:hover, .searchbtn:hover, .lgn-btn:hover, .buy-btn:hover{
    transform: scale(1.03);
  }
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

@media (min-width: 992px) {
    .navbar-nav {
      display: inline-flex;
      margin-left: auto;
      margin-right: auto;
    }
  }

@media (max-width:450px) {
    .logo{
        width: 200px;
    }
}  