.main{
    height: 80vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

@media (min-width: 1024px) {
    .main{
        padding: 30px;
        display: flex;
    }
    .left-container{
        margin-top: 20px;
        padding: 50px 0px 0px 50px;
        max-width: 50%;
    }
    
    .right{
        width: 50%; 
    }

    .right-container{
        padding: 40px 10px 20px 10px;
        border: rgb(219, 216, 216) thin solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
    }

    .signup-box{
        width: 350px;
    }

}

@media(max-width:1000px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .left-container{
        margin: 0 auto;
    }

    .right-container{
        padding: 0px 10px 20px 10px;
        border: rgb(219, 216, 216) thin solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        margin: 0 auto;
    }

    .signup-box{
        margin: 0 auto;
    }
}




.mockup{
    float: right;
    width: 80%;
}


.user, .password{
    border-radius: 2px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 6px;
    font-size: 12px !important;
    background-color: #fafafa !important;
    width: 280px !important;
}

.bttn{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px !important;
    background-color: #4cb5f9 !important;
    border: none !important;
}

.text-muted{
    padding: 15px;
    background-color: white;
    position: relative;
    bottom: 30px;
    left: 115px;
    font-size: 12px;
    font-weight: bold;
}

.facebook-lgn{
    padding-left: 6px;
    font-size: smaller;
    color: #385185;
}

.f-password{
    margin-top: 15px;
    font-size: x-small;
    color: #385185;
}

.facebook-f-pass{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-box{
    border: rgb(219, 216, 216) thin solid;
    margin-top: 10px;
    padding: 20px 0px 20px 0px;
    font-size: 13px;
    text-align: center;
    max-width: 500px;
}

.signup-text{
    text-decoration: none;
    color: #4ca2f6;
    font-weight: 500;
    padding-left: 3px;
}